---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content='{Astro.generator}' />
        <title>Astro</title>
    </head>
    <body>
        <h1>About</h1>
        <h2>Pushing Web Performance Forward with Precision and Accessibility</h2>
        <p>I'm LD, a front-end developer and SDET passionate about creating fast, accessible, and user-friendly websites.</p>
        <p> Let's build efficient and impactful web solutions together.</p>


